*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/RecorderNativeLib/src/main/libsOut/
obj/
/recorder_sdk/src/main/avmuxer_jni/
/recorder_sdk/src/main/memfile_jni/
